body{
	height: 100vh;
	background: url(steppes.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	gap:100px;
	
}
*{
	margin:0;
	padding:0;
}
.bigContainer{
	display: flex;
	justify-content: space-between;
}
.button{
	display: inline-block;
	width:100px;
	height: 50px;
	border-radius: 25px;
	background-color: #fff;
	cursor: pointer;
	position:relative;
}
#check{
	display: none;
}

.button::before{
	position: absolute;
	content:"";
	width:45px;
	height:45px;
	border-radius: 50%;
	background:darkviolet;
	top: 3px;
	left: 4px;
	transition: transform 0.3s ease;
}
#check:checked + .button::before{
	transform:translateX(48px);
}
#check:checked + .button{
	background: black;
}
.navbar{
	display: flex;
	width: 60%;
	height: 70px;
	background: rgba(34,34,34,0.1);
}
.navElement{
	flex: 1 1 0;
	height: 100%;
	color:#fff;
	font-size: 1.5rem;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	cursor: pointer;
}
.navElement:hover{
	background:linear-gradient(135deg,rgb(106,24,27),rgb(255,42,43));
}
.infoBoxes{
	display: flex;
	height:500px;
	justify-content: space-evenly;
	
}
.infoBox{
	width: 45%;
	background: rgba(0,0,0.5,0.4);
	height: 100%;
	border-radius: 10px;
	font-size: 20px;
	color:#fff;
	position:relative;
}
#infoBox1{
	background: url("hunnic.png");
	background-position: center;

}
#infoBox2{
	background: url("pyramids.jpg");
	background-position: center;
	background-size: cover;
	background-position: center;
}
.overlay{
	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	background-color: rgba(0, 0, 0, 0.6);

}
.textBox{
	padding: 30px;
	position: relative;
	z-index: 6;
}
#camel{
	position: absolute;
	background: url('camel.jpg');
	background-size: cover;
	background-position: center;
	z-index: 999;
	width: 100%;
	height: 100%;
	visibility: hidden;
}
#metehan{
	position: absolute;
	background: url('metehan.jpg');
	background-size: cover;
	background-position: center;
	z-index: 999;
	width: 100%;
	height: 100%;
	visibility: hidden;
}

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
div{
	font-family: "Montserrat",sans-serif;
}